@font-face {
  font-family: raleway-light;
  src: url('assets/fonts/Raleway-Light.woff2') format('woff2');
}
@font-face {
  font-family: raleway-regular;
  src: url('assets/fonts/Raleway-Regular.woff2') format('woff2');
}
@font-face {
  font-family: raleway-medium;
  src: url('assets/fonts/Raleway-Medium.woff2') format('woff2');
}
@font-face {
  font-family: raleway-semi-bold;
  src: url('assets/fonts/Raleway-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: impact;
  src: url('assets/fonts/impact.woff2') format('woff2');
}
@font-face {
  font-family: italianno;
  src: url('assets/fonts/italianno.woff2') format('woff2');
}
:root {
  --green: #819B26;
  --dark-green: #5B6533;
  --text-color: #363636;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: raleway-regular;
  font-size: 16px;
  color: #363636;
  line-height: 1.5rem;
}
p {
  font-size: calc(12px + (14 - 12) * (100vw - 400px) / (1680 - 400));
}
a {
  text-decoration: none;
  color: white;
  font-family: raleway-regular;
}
h2 {
  font-family: raleway-light;
  font-size: calc(22px + (32 - 22) * (100vw - 400px) / (1680 - 400));
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fluid-container {
  width: 100%;
  position: relative;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}
#video {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 90vw;
   height: 80%;
   transform: translate(-50%, -50%);
   z-index: 999;
   pointer-events: none;
}
::placeholder {
  font-family: raleway-regular;
}